body {
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    /*cor das letras*/
    color: #3d3d3d;
    /*espaçamento*/
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
 
h1 {
    background-color: #e1edf2;
    padding: 10px;
}
 
h2 {
    border-bottom: 2px solid black;
}
 
figure {
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}
 
img {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
 
figure img {
    width: 100%;
 
}.matriz-empresa {
    width: 550xp;
    margin-left: auto;
    margin-right: auto;
}
 
.fundadores {
    width: 275;
    float: right;
}